<nav id="nav-bar">
    <a href="/productos" class="link textNav">Productos</a>
    <a href="/" class="link"><div><img src="/assets/img/logo.png" alt="logo"></div></a>
    <a href="/contact" class="link textNav">Contacto</a>
</nav>