<div class="contact-page">
   
    <form action="/contact" method="post" class="contact-form">
        <div>
        <h1 class="title-form">Contacto</h1>
        <p>Dejanos tu mensaje y te contactaremos de inmediato,</p>
            <label for="nombre" class="label">Nombre:</label>
            <input id="nombre" type="text" name="nombre" class="input">
            <label for="email" class="label">E-mail de contacto:</label>
            <input id="email" type="email" name="email" class="input">
            <label for="mensaje" class="label">En que te podemos ayudar?</label>
            <textarea name="mensaje" id="mensaje" cols="70" rows="10" class="input"></textarea>
        </div>
        <button>Enviar</button>
    </form>
    <div class="social-netw">
        <a href=""><img src="/assets/img/002-whatsapp.png" alt="whatsApp"></a>
        <a href="https://www.instagram.com/patricianaveillan_cortinasdeco/"><img src="/assets/img/001-instagram.png" alt="instagram"></a>
        <a href=""><img src="/assets/img/003-facebook.png" alt="facebook"></a>
        </div>
</div>
