<div class="home-page">
    <h1 class="title">Asesoría personalizada para tus proyectos</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, eaque.</p>
</div>
<div class="brands">
    <img src="/assets/img/logoRollux.png" alt="logoRollux">
    <img src="/assets/img/logoVAKO.png" alt="">
    <img src="/assets/img/logoLuxaflex.png" alt="logoLuxaflex">
</div>
